<fieldset>

    <legend>Register</legend>
<form class ="Register-form"action="">
    <label >NAME:</label><br>
    <input type="text" placeholder="name" name="name" [(ngModel)]="username"><br>
    <label >EMAIL:</label><br>
    <input type="email" placeholder="email" name="email" [(ngModel)]="email"><br>
    <label >PASSWORD:</label><br>
    <input type="password" placeholder="password" name="password" [(ngModel)]="password"><br>
    <label >CONFIRM_PASSWORD:</label><br>
    <input type="password" placeholder="Confirm_password" name="cnfpassword" [(ngModel)]="cnfpassword"><br>
    
    <button type="submit">REGISTER</button>
 <button type="reset">RESET</button><br>
</form>
</fieldset>